@import url("https://fonts.googleapis.com/css2?family=Karla&family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

html {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body {
  background-color: white;
  color: #313131;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

main {
  margin: 20px 10%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

footer {
  height: 80px;
  background-color: white;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 10%;
  -webkit-transition: all ease 250ms;
  transition: all ease 250ms;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.158);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.158);
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
}

nav a {
  color: #313131;
  padding: 0px 10px;
}

nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

nav .links li:hover ul {
  opacity: 1;
  pointer-events: all;
  -webkit-transition: all ease 250ms;
  transition: all ease 250ms;
}

nav .links ul {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.158);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.158);
  opacity: 0;
  pointer-events: none;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  padding-top: 1em;
  padding-bottom: 0.5em;
  -webkit-transition: all ease 250ms;
  transition: all ease 250ms;
}

nav .links ul a {
  padding: 10px 30px;
}

nav .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

nav .buttons button, nav .buttons a {
  margin: 5px;
  cursor: pointer;
}

nav.scrolled {
  padding: 0px;
  opacity: 0.8;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

a {
  text-decoration: none;
  color: orange;
  display: inline-block;
}

a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: orange;
  -webkit-transition: all ease 250ms;
  transition: all ease 250ms;
}

a:hover::after {
  width: 100%;
}

button,
.button {
  background: orange;
  color: #313131;
  padding: 5px 20px;
  border: 2px solid orange;
  border-radius: 10px;
  -webkit-transition: all ease 250ms;
  transition: all ease 250ms;
  margin: 5px 10px;
  cursor: pointer;
}

button::after, .button::after {
  display: none;
}

button.hollow,
.button.hollow {
  color: #313131;
  border: 2px solid orange;
  background: none;
}

button:hover,
.button:hover,
button.hollow:hover,
.button.hollow:hover {
  background: #ffc04d;
  color: #313131;
  border-color: #ffc04d;
}

button.hollow:active,
button:active,
.button.hollow:active,
.button:active {
  background: #cc8400;
  color: #313131;
  border-color: #cc8400;
}

form {
  display: table;
  width: 40%;
  min-width: 270px;
}

form .labeled {
  position: relative;
  margin: 1rem 0px;
  -webkit-transition: all ease 250ms;
  transition: all ease 250ms;
}

form .labeled label {
  position: absolute;
  top: 0;
  padding: 11px 0px 0px 13px;
  margin-left: 8px;
  -webkit-transition: all ease 250ms;
  transition: all ease 250ms;
  opacity: 0.5;
  pointer-events: none;
}

form .labeled input:focus {
  margin: 2rem 0px;
}

form .labeled input:focus + label,
form .labeled input:valid + label {
  margin-left: 0px;
  font-size: 75%;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  opacity: 0.8;
}

form .labeled .result {
  width: 100%;
  display: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px 0px;
  font-size: 0.7rem;
}

form .labeled .result.error {
  background-color: rgba(255, 74, 74, 0.123);
}

form .labeled .result.success {
  background-color: rgba(107, 255, 70, 0.123);
}

form .labeled.success input {
  border: 1px solid green;
}

form .labeled.success .success {
  display: block;
}

form .labeled.error input {
  border: 1px solid red;
}

form .labeled.error .error {
  display: block;
}

form input[type="text"],
form input[type="password"] {
  background-color: #fafafa;
  color: #313131;
  width: 100%;
  display: block;
  padding: 10px 20px;
  font-size: 1rem;
  line-height: 1.25;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  -webkit-transition: all ease 250ms;
  transition: all ease 250ms;
  -webkit-box-shadow: none;
          box-shadow: none;
}

form input {
  margin: 10px 0px;
}

form input:active,
form input:focus {
  border: 1px solid orange;
}

form .submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form .submit button {
  width: 80%;
}

form .submit * {
  margin: 5px;
}

ul.overview {
  list-style: none;
  border-radius: 10px;
  margin: 10px 0px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

ul.overview li:first-child {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

ul.overview li:last-child {
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  border-bottom: none;
}

ul.overview li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  background-color: #fafafa;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

ul.overview li * {
  -ms-flex-preferred-size: 0px;
      flex-basis: 0px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  text-align: left;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  word-wrap: break-word;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: #fafafa;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.158);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.158);
  padding: 20px;
}

.card img {
  margin: 10px 0px;
  display: block;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 180px;
}

.card .body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 20px;
}

.card .body .title {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.card .body .text {
  margin-top: 0;
  margin-bottom: 1rem;
}

.card .footer {
  padding: 10px;
  padding-top: 0px;
}

.card .footer button,
.card .footer .button {
  margin-left: 0;
}

a.card {
  color: #313131;
}

a.card:hover,
a.card:focus {
  border: 1px solid orange;
}

a.card::after {
  display: none;
}

.card.no-padding {
  padding: 0px;
}

nav .title {
  font-family: 'Baloo Bhaina 2', cursive;
  font-weight: 500;
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
}

* {
  font-family: "Karla", sans-serif;
}

body {
  font-size: 100%;
}

h1 {
  font-size: 3em;
  /* 48 / 16 */
  line-height: 1em;
  /* 48 / 48 */
  margin-top: 0.5em;
  /* 24 / 48 */
}

h2 {
  font-size: 2.25em;
  /* 36 / 16 */
  line-height: 1.333333333333333em;
  /* 48 / 36 */
  margin-top: 0.6666666666666667em;
  /* 24 / 36 */
}

h3 {
  font-size: 1.5em;
  /* 24 / 16 */
  line-height: 1em;
  /* 24 / 24 */
  margin-top: 1em;
  /* 24 / 24 */
}

h4 {
  font-size: 1.3125em;
  /* 21 / 16 */
  line-height: 1.142857142857143em;
  /* 24 / 21 */
  margin-top: 1.142857142857143em;
  /* 24 / 21 */
}

h5 {
  font-size: 1.125em;
  /* 18 / 16 */
  line-height: 1.333333333333333em;
  /* 24 / 18 */
  margin-top: 1.333333333333333em;
  /* 24 / 18 */
}

h6 {
  font-size: 1em;
  /* 16 / 16 */
  line-height: 1.5em;
  /* 24 / 16 */
  margin-top: 1.5em;
  /* 24 / 16 */
}

p {
  font-size: 1em;
  /* 16 / 16 */
  line-height: 1.5em;
  /* 24 / 16 */
  margin-bottom: 0.5em;
  /* 24 / 16 */
}

.text-center {
  text-align: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper {
  margin: 10px;
}

.flex.vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex.spaced {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex.fit {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex .fill {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.flex.nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.outline {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
/*# sourceMappingURL=theia-light.css.map */