@import url("https://fonts.googleapis.com/css2?family=Karla&family=Rubik&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap');

nav {
.title {
  font-family: 'Baloo Bhaina 2', cursive;
  font-weight: 500;
  font-size: 1.5rrem;
}
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: normal;
}

body {
  font-family: "Karla", sans-serif;
  color: $foreground;
  font-size: 1rem; 
  line-height: 1.5rem; 
}

h1, .h1 {
  font-size: 3rem; 
  line-height: 1.5rem; 
  margin: 1.5rem 0px; 
  margin-bottom: 0.75rem;
}

h2, .h2 {
  font-size: 2.25rem; 
  line-height: 1.33rem; 
  margin: 1.33rem 0px; 
  margin-bottom: 0.66rem;
}

h3, .h3 {
  font-size: 1.5rem; 
  line-height: 1.142rem; 
  margin:  1.2rem 0px; 
  margin-bottom: 0.6rem;
}

h4, .h4 {
  font-size: 1.25rem; 
  line-height: 1.25rem; 
  margin:  1.25rem 0px; 
  margin-bottom: 0.7rem;
}

h5, .h5 {
  font-size: 1.125rem; 
  line-height: 1rem; 
  margin: 1rem 0px; 
  margin-bottom: 0.5rem;
}

h6, .h6 {
  font-size: 1rem; 
  line-height: 1rem; 
  margin: 0.5rem 0px; 
  margin-bottom: 0.25rem;
}

p {
  margin: 0.5rem 0px;
}

.text-center {
  text-align: center;
}

.muted {
  color: $foreground-muted;
}

.dark {
  color: $foreground-dark;
}