$background : white;
$foreground : black;

$background-nav : black;
$foreground-nav: white;

$shadow: 0px 0px 10px rgb(0, 0, 0);

$border: gray;
$accent: orange;
$background-accent: orange;
$background-accent-dark: rgb(185, 121, 0);